@mixin full-fixed {
	width: 100%;
    position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@mixin full-absolute {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@mixin x-center-absolute{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@mixin flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-wrap {
	@include flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flex-center {
	@include flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

@mixin flex-column{
	@include flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin x-padding($padding){
	padding-left: $padding;
	padding-right: $padding;
}

//izmantots
@mixin x-margin($margin){
	margin-left: $margin; //15px;
	margin-right: $margin; //15px;
}

//izmantots
@mixin icon-prop {
	background-position: center;
	background-repeat: no-repeat;
}

//izmantots
@mixin bg-prop {
	@include icon-prop;
	background-size: cover;
}

@mixin transition($props){
	-webkit-transition: $props;
	-o-transition: $props;
	transition: $props;
}

@mixin text-overflow{
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin gradient($startColor, $endColor, $radius){
	background: $startColor;
	background: -moz-linear-gradient($radius, $startColor 0%, $endColor 100%);
	background: -webkit-linear-gradient($radius, $startColor 0%, $endColor 100%);
	background: linear-gradient($radius, $startColor 0%, $endColor 100%);
}
