//Text and font color
$white: #FFFFFF;
$black: #000000;
$red: #F44336;
$darkGreyText: #3C4858;
$lightGreyText: #999999;
$lightGreyBackground: #E5E5E5;
$violet: #9C27B0;

//Font size
$fontSize12px: 12px;
$fontSize14px: 14px;
$fontSize16px: 16px;
$fontSize17px: 17px;
$fontSize20px: 20px;
$fontSize24px: 24px;
$fontSize28px: 28px;
$fontSize36px: 36px;
$fontSize42px: 42px;
$fontSize48px: 48px;
$fontSize53px: 53px;


//Font family
$fontFamily: 'Roboto', sans-serif;

//Font style
$fontStyleNormal: normal;

//Font weight
$fontWeightNormal: normal;
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;

//Line height
$lineHeight14px: 14px;
$lineHeight16px: 16px;
$lineHeight18px: 18px;
$lineHeight19px: 19px;
$lineHeight20px: 20px;
$lineHeight21px: 21px;
$lineHeight23px: 23px;
$lineHeight24px: 24px;
$lineHeight28px: 28px;
$lineHeight33px: 33px;
$lineHeight42px: 42px;
$lineHeight48px: 48px;
$lineHeight49px: 49px;
$lineHeight55px: 55px;
$lineHeight56px: 56px;
$lineHeight62px: 62px;
$lineHeight63px: 63px;
$lineHeight70px: 70px;

//Margin
$margin: 15px;
$smallMargin: 5px;
$mediumMargin: 10px;
$largeMargin: 20px;

//Padding

//$padding:;
