<footer>
    <div class="footer-container"> <!--container neliek klāt flexbox etc, ar css neaiztiek, viņš ir domāts tikai lai norobežotu saturu-->
        <div class="footer-box"> <!-- Viss footer containeris - Priekš layout mainīšanas - flexbox etc --> 
            <!-- Navigation and Copyright-->
            <div class="footer-left-side-navigation">
                <!-- Navigation -->
                <div class="footer-navigation">
                    <nav>
                        <ul>
                            <li><a class="nav-first" href="https://webskola.lv/lv" target="_blank">Webskola</a></li>
                            <li><a class="nav-second" href="contact.html" target="_blank">Kontakti</a></li>
                            <li><a class="nav-third" href="/template/img/footer/MontaPecinaCV.jpg" target="_blank" download>Mans CV</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Copyright -->
            <div class="footer-right-side-copyright">
                <p>(c) 2021, Author Monta Peciņa</p>
            </div>
        </div>

    </div>
</footer>

</body>
</html>